
@{
    ViewBag.Title = "WriterDo";
}


<form action="WriterDo" method="post">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table>
        <tr>
            <td>
                Adı Soyadı :
            </td>
            <td>
                <input type="text" name="NameSurname" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Kullanıcı Adı :
            </td>
            <td>
                <input type="text" name="UserName" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Parola :
            </td>
            <td>
                <input type="password" name="Password" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Mail Adresi :
            </td>
            <td>
                <input type="text" name="Email" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Doğum Tarihi :
            </td>
            <td>
                <input type="date" name="Birthdate" value="" />
            </td>
        </tr>
        <tr>
            <td>
                Cinsiyet :
            </td>
            <td>
                <input type="radio" name="rdMan" value="" />
                <span>Bay</span>
                <input type="radio" name="rdWoman" value="" />
                <span>Bayan</span>
            </td>
        </tr>
        <tr>
            <td>Özgeçmiş : </td>
            <td>
                <input type="text" name="Explanation" value="" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="name" value="Yazar Ol" />
            </td>
        </tr>
    </table>
</form>


